<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Merci de vous identifier</h2>
        <label for="inputName" class="sr-only">Votre Nom</label>
        <input type="text" id="inputName" class="form-control" placeholder="votre nom" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">S'identifier</button>
      </form>

    </div> <!-- /container -->