<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Déposer une annonce</h2>
        <label for="inputTitle" class="sr-only">Titre de votre annonce</label>
        <input type="text" id="inputTitle" class="form-control" placeholder="Titre" required autofocus>
        
        <label for="inputContent" class="sr-only">Description de votre annonce</label>
        <input type="textarea" id="inputContent" class="form-control" placeholder="Titre" required autofocus>
        
        <label for="inputPrice" class="sr-only">Prix</label>
        <input type="text" id="inputPrice" class="form-control" placeholder="Prix" required autofocus>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Soumettre l'annonce</button>
      </form>

    </div> <!-- /container -->