<div class="container">
    <%= form_tag "/advertisements/new", method: :post do %>
    <%= f.hidden_field :published, value: false %>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
      <form class="form-signin">
        <h2 class="form-signin-heading">Déposez une annonce</h2>
        <div class="form-group">
            <label for="inputTitle">Titre de votre annonce</label>
            <input type="text" name="title" id="inputtitle" class="form-control" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputContent" >Description</label>
            <input type="textarea" name="content" id="inputContent" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="inputPrice" >Prix de vente</label>
            <input type="textarea" name="price" id="inputPrice" class="form-control" required>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">S'identifier</button>
        </div>
      </form>
<% end %>
    </div> <!-- /container -->