<div class="container">
    <%= form_tag "/advertisements", method: :post do %>
    <input type="hidden" name="published" id="inputtitle" class="form-control" value="false">
    <input type="hidden" name="user_id" id="inputtitle" class="form-control" value="<%= session[:user_id]%>">
      <form class="form-signin">
        <h2 class="form-signin-heading">Déposez une annonce</h2>
        <div class="form-group">
            <label for="inputTitle">Titre de votre annonce</label>
            <input type="text" name="title" id="inputtitle" class="form-control" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputContent" >Description</label>
            <input type="textarea" name="content" id="inputContent" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="inputPrice" >Prix de vente</label>
            <input type="textarea" name="price" id="inputPrice" class="form-control" required>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Soumettre l'annonce</button>
        </div>
      </form>
<% end %>
    </div> <!-- /container -->