<div class="container">
  <div class="form-group row">
    <%= @advertisement.title, class: "col-2 col-form-label" %>
    <br>
    <%= @advertisement.content, class: "col-2 col-form-label" %>
  </div>
